<h1>Bienvenido</h1>
<p>Por favor confirma tu sesi贸n con el c贸digo que hemos enviado por correo electr贸nico</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
  <div><%= f.label :otp_attempt, "C贸digo de seguridad:" %><br />
    <%= f.text_field :otp_attempt %> </div>

  <%= f.submit "Enviar" %>
<%end %>